<ion-content>
<html>
<div class="container">
<div class="side-bar-container">
<header>
<button id="_fe0314d6059b6be64fc9bfa29a824df5" class="back">
</button>
<h1 class="header-text">
Close2Booking.com
</h1>
</header>
<div class="body">
<h2>
Find quick trips nearby
</h2>
<h3>
Weekend-worthy destinations
</h3>
<div class="widget">
<h2>
Quick getaways
</h2>
<h3>
Frequently booked from your location
</h3>
<div class="carrosel quick">
</div>
</div>
<div class="widget">
<h2>
Nature
</h2>
<h3>
Scenery, hiking, and camping
</h3>
<div class="carrosel nature">
</div>
</div>
</div>
</div>
</div>
</html>
</ion-content>
