<ion-content>
<html>
<div class="container">
<div class="side-bar-container">
<header>
<div class="up">
</div>
<div class="center">
<button id="_98c904aabf7bf585ce06888aad648c28" class="back">
</button>
<h1 class="header-text">
Gramado . Jun 4 - Jun 5
</h1>
</div>
<div class="down">
<div class="tab-bar">
<div class="text-buttons">
<button class="text">
<div class="icon">
<img src="https://www.inf.ufrgs.br/~wniemiec/shared/img/sort-black.png" height="15"/>
</div>
<p>
Sort
</p>
</button>
<button class="text">
<div class="icon">
<img src="https://www.inf.ufrgs.br/~wniemiec/shared/img/filtro-black.png" height="15"/>
</div>
<p>
Filter
</p>
</button>
<button class="text">
<div class="icon">
<img src="https://www.inf.ufrgs.br/~wniemiec/shared/img/mapa-black.png" height="15"/>
</div>
<p>
Map
</p>
</button>
</div>
</div>
</div>
</header>
<div class="body">
</div>
</div>
</div>
</html>
</ion-content>
